In [2]:
# Import raw data from Excel
import pandas as pd

filepath = 'C:/Users/PXY/Desktop/Orange_week.xlsx';
sheetname = 'main'
df = pd.read_excel ( filepath, sheet_name = sheetname );
print (df)

     Year    Week  Cases  Rainfalls  No.of Raindays  Max. temperature  \
0    2010   week1    NaN        NaN             NaN               NaN
1    2010   week2    NaN        NaN             NaN               NaN
2    2010   week3    NaN        NaN             NaN               NaN
3    2010   week4    NaN      286.0            22.0         32.883871
4    2010   week5    NaN        NaN             NaN               NaN
5    2010   week6    NaN        NaN             NaN               NaN
6    2010   week7    NaN        NaN             NaN               NaN
7    2010   week8   36.0      241.8            11.0         34.385714
8    2010   week9   65.0        NaN             NaN               NaN
9    2010  week10   46.0        NaN             NaN               NaN
10   2010  week11   31.0        NaN             NaN               NaN
11   2010  week12   27.0      191.8            14.0         34.338710
12   2010  week13   40.0        NaN             NaN               NaN
13   2010  week14   49.0        NaN             NaN               NaN
14   2010  week15   29.0        NaN             NaN               NaN
15   2010  week16   38.0      304.2            19.0         33.456667
16   2010  week17   40.0        NaN             NaN               NaN
17   2010  week18   38.0        NaN             NaN               NaN
18   2010  week19   33.0        NaN             NaN               NaN
19   2010  week20   37.0      366.4            18.0         33.493548
20   2010  week21   38.0        NaN             NaN               NaN
21   2010  week22   54.0        NaN             NaN               NaN
22   2010  week23   78.0        NaN             NaN               NaN
23   2010  week24   66.0      303.0            21.0         32.776667
24   2010  week25   78.0        NaN             NaN               NaN
25   2010  week26   63.0        NaN             NaN               NaN
26   2010  week27   56.0        NaN             NaN               NaN
27   2010  week28   38.0      173.8            15.0         32.629032
28   2010  week29   93.0        NaN             NaN               NaN
29   2010  week30   65.0        NaN             NaN               NaN
..    ...     ...    ...        ...             ...               ...
282  2015  week23    NaN        NaN             NaN               NaN
283  2015  week24    NaN      131.4            11.0         33.260000
284  2015  week25    NaN        NaN             NaN               NaN
285  2015  week26    NaN        NaN             NaN               NaN
286  2015  week27    NaN        NaN             NaN               NaN
287  2015  week28    NaN      115.6            14.0         33.538710
288  2015  week29    NaN        NaN             NaN               NaN
289  2015  week30    NaN        NaN             NaN               NaN
290  2015  week31    NaN        NaN             NaN               NaN
291  2015  week32    NaN       99.0            17.0         33.000000
292  2015  week33    NaN        NaN             NaN               NaN
293  2015  week34    NaN        NaN             NaN               NaN
294  2015  week35    NaN        NaN             NaN               NaN
295  2015  week36    NaN      135.2            14.0         32.670000
296  2015  week37    NaN        NaN             NaN               NaN
297  2015  week38    NaN        NaN             NaN               NaN
298  2015  week39    NaN        NaN             NaN               NaN
299  2015  week40    NaN      134.0            18.0         31.929032
300  2015  week41    NaN        NaN             NaN               NaN
301  2015  week42    NaN        NaN             NaN               NaN
302  2015  week43    NaN        NaN             NaN               NaN
303  2015  week44    NaN      487.2            25.0         31.946667
304  2015  week45    NaN        NaN             NaN               NaN
305  2015  week46    NaN        NaN             NaN               NaN
306  2015  week47    NaN        NaN             NaN               NaN
307  2015  week48    NaN      180.0            22.0         32.748387
308  2015  week49    NaN        NaN             NaN               NaN
309  2015  week50    NaN        NaN             NaN               NaN
310  2015  week51    NaN        NaN             NaN               NaN
311  2015  week52    NaN        NaN             NaN               NaN

     Min. temperature  Mean temp  Fatality
0                 NaN        NaN       NaN
1                 NaN        NaN       NaN
2                 NaN        NaN       NaN
3           23.751613  26.945161       NaN
4                 NaN        NaN       NaN
5                 NaN        NaN       NaN
6                 NaN        NaN       NaN
7           24.535714  28.382143       NaN
8                 NaN        NaN       NaN
9                 NaN        NaN       NaN
10                NaN        NaN       NaN
11          24.470968  28.254839       NaN
12                NaN        NaN       NaN
13                NaN        NaN       1.0
14                NaN        NaN       NaN
15          24.576667  27.926667       NaN
16                NaN        NaN       1.0
17                NaN        NaN       NaN
18                NaN        NaN       NaN
19          24.800000  28.287097       NaN
20                NaN        NaN       NaN
21                NaN        NaN       NaN
22                NaN        NaN       1.0
23          23.873333  27.310000       1.0
24                NaN        NaN       NaN
25                NaN        NaN       NaN
26                NaN        NaN       NaN
27          23.851613  27.232258       NaN
28                NaN        NaN       1.0
29                NaN        NaN       NaN
..                ...        ...       ...
282               NaN        NaN       NaN
283         24.840000  28.266667       NaN
284               NaN        NaN       NaN
285               NaN        NaN       NaN
286               NaN        NaN       NaN
287         24.509677  28.032258       NaN
288               NaN        NaN       NaN
289               NaN        NaN       NaN
290               NaN        NaN       NaN
291         24.309677  27.587097       NaN
292               NaN        NaN       NaN
293               NaN        NaN       NaN
294               NaN        NaN       NaN
295         24.316667  27.623333       NaN
296               NaN        NaN       NaN
297               NaN        NaN       NaN
298               NaN        NaN       NaN
299         24.054839  26.864516       NaN
300               NaN        NaN       NaN
301               NaN        NaN       NaN
302               NaN        NaN       NaN
303         23.563333  26.326667       NaN
304               NaN        NaN       NaN
305               NaN        NaN       NaN
306               NaN        NaN       NaN
307         23.625806  26.948387       NaN
308               NaN        NaN       NaN
309               NaN        NaN       NaN
310               NaN        NaN       NaN
311               NaN        NaN       NaN

[312 rows x 9 columns]

In [3]:
# Data preprocessing

# Set NaN to 0.0 for Cases & Fatality
df['Cases'].fillna( 0, inplace = True )
df['Fatality'].fillna(0, inplace = True )

# Set others to first found values
df['Rainfalls'].ffill( inplace = True );
df['Max. temperature'].ffill( inplace = True );
df['Min. temperature'].ffill( inplace = True );
df['Mean temp'].ffill( inplace = True );

# Ffill doesn't fill in the first three NaN, thus need to do another bfill
df['Rainfalls'].bfill( inplace = True );
df['Max. temperature'].bfill( inplace = True );
df['Min. temperature'].bfill( inplace = True );
df['Mean temp'].bfill( inplace = True );

# Add new target columns
df['FatalityRate'] = (df['Fatality'] > 0).astype(int)
df['HasCase'] = (df['Cases'] > 0).astype(int)

# Drop unused columns: no.of rain days, Week, Year
if 'No.of Raindays' in df.columns:
    df = df.drop(['No.of Raindays'], axis = 1 )

if 'Year' in df.columns:
    df = df.drop(['Year'], axis = 1 )

if 'Week' in df.columns:
    df = df.drop(['Week'], axis = 1 )

if 'Fatality' in df.columns:
    df = df.drop(['Fatality'], axis = 1 )
    
# Verify if all the anomalies are gone
df.describe()

# Write to output csv for data visualization purpose
df.to_csv('C:/Users/PXY/Desktop/dengue.csv');

In [4]:
# Normalizing data
# This step is really useful on improving model performance
import sklearn
from sklearn.preprocessing import StandardScaler
cols_to_norm = [ 'Rainfalls','Max. temperature','Min. temperature','Mean temp']
#df[cols_to_norm] = StandardScaler().fit_transform(df[cols_to_norm])

# Create predictors
predictors = df.drop(['HasCase','FatalityRate'], axis=1).values
n_cols = predictors.shape[1] 
  
# Create target
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
target = label_encoder.fit_transform(df.HasCase)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, 
                                                    test_size=0.3 )

In [5]:
# Build and train the model
from tensorflow.keras import layers
from tensorflow import keras 
import tensorflow as tf
import numpy as py
# fix random seed for reproducibility
seed = 7
py.random.seed(seed)
cvscores = []

# define 10-fold cross validation test harness
from sklearn.model_selection import StratifiedKFold
kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=seed)

for train, test in kfold.split(predictors, target):
    
  # Input layer
  model = keras.Sequential() 
  model.add(layers.Dense(100, activation='relu', input_shape = (n_cols,))) 
  model.add(layers.Dense(100, activation='relu')) 

  # Output layer
  model.add(layers.Dense(1, activation='sigmoid')) 

  # Compile model
  model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy']) 

  # Fit the model
  model.fit(predictors[train], target[train], epochs=40,  verbose=False )
  # evaluate the model
  scores = model.evaluate(predictors[test], target[test], verbose=0)
  print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))
  cvscores.append(scores[1] * 100)

print("%.2f%% (+/- %.2f%%)" % (py.mean(cvscores), py.std(cvscores)))

WARNING:tensorflow:From C:\Users\PXY\AppData\Local\conda\conda\envs\tf_gpu\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From C:\Users\PXY\AppData\Local\conda\conda\envs\tf_gpu\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
acc: 100.00%
acc: 100.00%
acc: 100.00%
acc: 100.00%
acc: 100.00%
100.00% (+/- 0.00%)