In [26]:
# Import raw data from Excel
import pandas as pd

filepath = 'C:/Users/PXY/Desktop/Orange_week.xlsx';
sheetname = 'main'
df = pd.read_excel ( filepath, sheet_name = sheetname );
print (df)

     Year    Week  Cases  Rainfalls  No.of Raindays  Max. temperature  \
0    2010   week1    NaN        NaN             NaN               NaN
1    2010   week2    NaN        NaN             NaN               NaN
2    2010   week3    NaN        NaN             NaN               NaN
3    2010   week4    NaN      286.0            22.0         32.883871
4    2010   week5    NaN        NaN             NaN               NaN
5    2010   week6    NaN        NaN             NaN               NaN
6    2010   week7    NaN        NaN             NaN               NaN
7    2010   week8   36.0      241.8            11.0         34.385714
8    2010   week9   65.0        NaN             NaN               NaN
9    2010  week10   46.0        NaN             NaN               NaN
10   2010  week11   31.0        NaN             NaN               NaN
11   2010  week12   27.0      191.8            14.0         34.338710
12   2010  week13   40.0        NaN             NaN               NaN
13   2010  week14   49.0        NaN             NaN               NaN
14   2010  week15   29.0        NaN             NaN               NaN
15   2010  week16   38.0      304.2            19.0         33.456667
16   2010  week17   40.0        NaN             NaN               NaN
17   2010  week18   38.0        NaN             NaN               NaN
18   2010  week19   33.0        NaN             NaN               NaN
19   2010  week20   37.0      366.4            18.0         33.493548
20   2010  week21   38.0        NaN             NaN               NaN
21   2010  week22   54.0        NaN             NaN               NaN
22   2010  week23   78.0        NaN             NaN               NaN
23   2010  week24   66.0      303.0            21.0         32.776667
24   2010  week25   78.0        NaN             NaN               NaN
25   2010  week26   63.0        NaN             NaN               NaN
26   2010  week27   56.0        NaN             NaN               NaN
27   2010  week28   38.0      173.8            15.0         32.629032
28   2010  week29   93.0        NaN             NaN               NaN
29   2010  week30   65.0        NaN             NaN               NaN
..    ...     ...    ...        ...             ...               ...
282  2015  week23    NaN        NaN             NaN               NaN
283  2015  week24    NaN      131.4            11.0         33.260000
284  2015  week25    NaN        NaN             NaN               NaN
285  2015  week26    NaN        NaN             NaN               NaN
286  2015  week27    NaN        NaN             NaN               NaN
287  2015  week28    NaN      115.6            14.0         33.538710
288  2015  week29    NaN        NaN             NaN               NaN
289  2015  week30    NaN        NaN             NaN               NaN
290  2015  week31    NaN        NaN             NaN               NaN
291  2015  week32    NaN       99.0            17.0         33.000000
292  2015  week33    NaN        NaN             NaN               NaN
293  2015  week34    NaN        NaN             NaN               NaN
294  2015  week35    NaN        NaN             NaN               NaN
295  2015  week36    NaN      135.2            14.0         32.670000
296  2015  week37    NaN        NaN             NaN               NaN
297  2015  week38    NaN        NaN             NaN               NaN
298  2015  week39    NaN        NaN             NaN               NaN
299  2015  week40    NaN      134.0            18.0         31.929032
300  2015  week41    NaN        NaN             NaN               NaN
301  2015  week42    NaN        NaN             NaN               NaN
302  2015  week43    NaN        NaN             NaN               NaN
303  2015  week44    NaN      487.2            25.0         31.946667
304  2015  week45    NaN        NaN             NaN               NaN
305  2015  week46    NaN        NaN             NaN               NaN
306  2015  week47    NaN        NaN             NaN               NaN
307  2015  week48    NaN      180.0            22.0         32.748387
308  2015  week49    NaN        NaN             NaN               NaN
309  2015  week50    NaN        NaN             NaN               NaN
310  2015  week51    NaN        NaN             NaN               NaN
311  2015  week52    NaN        NaN             NaN               NaN

     Min. temperature  Mean temp  Fatality
0                 NaN        NaN       NaN
1                 NaN        NaN       NaN
2                 NaN        NaN       NaN
3           23.751613  26.945161       NaN
4                 NaN        NaN       NaN
5                 NaN        NaN       NaN
6                 NaN        NaN       NaN
7           24.535714  28.382143       NaN
8                 NaN        NaN       NaN
9                 NaN        NaN       NaN
10                NaN        NaN       NaN
11          24.470968  28.254839       NaN
12                NaN        NaN       NaN
13                NaN        NaN       1.0
14                NaN        NaN       NaN
15          24.576667  27.926667       NaN
16                NaN        NaN       1.0
17                NaN        NaN       NaN
18                NaN        NaN       NaN
19          24.800000  28.287097       NaN
20                NaN        NaN       NaN
21                NaN        NaN       NaN
22                NaN        NaN       1.0
23          23.873333  27.310000       1.0
24                NaN        NaN       NaN
25                NaN        NaN       NaN
26                NaN        NaN       NaN
27          23.851613  27.232258       NaN
28                NaN        NaN       1.0
29                NaN        NaN       NaN
..                ...        ...       ...
282               NaN        NaN       NaN
283         24.840000  28.266667       NaN
284               NaN        NaN       NaN
285               NaN        NaN       NaN
286               NaN        NaN       NaN
287         24.509677  28.032258       NaN
288               NaN        NaN       NaN
289               NaN        NaN       NaN
290               NaN        NaN       NaN
291         24.309677  27.587097       NaN
292               NaN        NaN       NaN
293               NaN        NaN       NaN
294               NaN        NaN       NaN
295         24.316667  27.623333       NaN
296               NaN        NaN       NaN
297               NaN        NaN       NaN
298               NaN        NaN       NaN
299         24.054839  26.864516       NaN
300               NaN        NaN       NaN
301               NaN        NaN       NaN
302               NaN        NaN       NaN
303         23.563333  26.326667       NaN
304               NaN        NaN       NaN
305               NaN        NaN       NaN
306               NaN        NaN       NaN
307         23.625806  26.948387       NaN
308               NaN        NaN       NaN
309               NaN        NaN       NaN
310               NaN        NaN       NaN
311               NaN        NaN       NaN

[312 rows x 9 columns]

In [27]:
# Data preprocessing

# Set NaN to 0.0 for Cases & Fatality
df['Cases'].fillna( 0, inplace = True )
df['Fatality'].fillna(0, inplace = True )

# Set others to first found values
df['Rainfalls'].ffill( inplace = True );
df['Max. temperature'].ffill( inplace = True );
df['Min. temperature'].ffill( inplace = True );
df['Mean temp'].ffill( inplace = True );

# Ffill doesn't fill in the first three NaN, thus need to do another bfill
df['Rainfalls'].bfill( inplace = True );
df['Max. temperature'].bfill( inplace = True );
df['Min. temperature'].bfill( inplace = True );
df['Mean temp'].bfill( inplace = True );

# Add new target columns
df['FatalityRate'] = (df['Fatality'] > 0).astype(int)
df['HasCase'] = (df['Cases'] > 0).astype(int)

# Drop unused columns: no.of rain days, Week, Year
if 'No.of Raindays' in df.columns:
    df = df.drop(['No.of Raindays'], axis = 1 )

if 'Year' in df.columns:
    df = df.drop(['Year'], axis = 1 )

if 'Week' in df.columns:
    df = df.drop(['Week'], axis = 1 )

if 'Fatality' in df.columns:
    df = df.drop(['Fatality'], axis = 1 )
    
# Verify if all the anomalies are gone
df.describe()

,Cases,Rainfalls,Max. temperature,Min. temperature,Mean temp,FatalityRate,HasCase
count,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000
mean,51.679487,225.655128,32.755230,23.925280,27.248973,0.102564,0.801282
std,72.514506,119.617770,0.940691,0.462411,0.727079,0.303876,0.399676
min,0.000000,18.200000,30.664516,22.812903,25.712903,0.000000,0.000000
25%,19.000000,129.200000,32.066667,23.661290,26.750000,0.000000,1.000000
50%,33.000000,210.200000,32.748387,23.851613,27.206559,0.000000,1.000000
75%,51.000000,315.500000,33.335484,24.213333,27.921429,0.000000,1.000000
max,495.000000,489.200000,35.267742,25.060000,28.816667,1.000000,1.000000

In [28]:
# Normalizing data
# This step is really useful on improving model performance
import sklearn
from sklearn.preprocessing import StandardScaler
cols_to_norm = [ 'Rainfalls','Max. temperature','Min. temperature','Mean temp']
#df[cols_to_norm] = StandardScaler().fit_transform(df[cols_to_norm])

# Create predictors
predictors = df.drop(['HasCase','FatalityRate'], axis=1).values
n_cols = predictors.shape[1] 
  
# Create target
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
target = label_encoder.fit_transform(df.HasCase)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, 
                                                    test_size=0.3 )

In [36]:
# Build and train the model
from tensorflow.keras import layers
from tensorflow import keras 
import tensorflow as tf
import numpy as py
# fix random seed for reproducibility
seed = 7
py.random.seed(seed)
cvscores = []

# define 10-fold cross validation test harness
from sklearn.model_selection import StratifiedKFold
kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=seed)

for train, test in kfold.split(predictors, target):
    
  # Input layer
  model = keras.Sequential() 
  model.add(layers.Dense(100, activation='relu', input_shape = (n_cols,))) 
  model.add(layers.Dense(100, activation='relu')) 

  # Output layer
  model.add(layers.Dense(1, activation='sigmoid')) 

  # Compile model
  model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy']) 

  # Fit the model
  model.fit(predictors[train], target[train], epochs=40,  verbose=False )
  # evaluate the model
  scores = model.evaluate(predictors[test], target[test], verbose=0)
  print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))
  cvscores.append(scores[1] * 100)

print("%.2f%% (+/- %.2f%%)" % (py.mean(cvscores), py.std(cvscores)))

[  0   1   3   4   5   6   7   8  11  12  13  16  17  19  20  21  22  23
  24  25  26  27  28  30  32  33  35  36  37  38  39  40  41  42  43  44
  45  46  47  48  49  50  51  52  53  54  55  56  58  60  61  62  63  65
  66  68  70  71  74  75  76  77  78  79  80  82  83  84  86  88  90  92
  94  96  97  98  99 100 102 103 106 107 109 110 111 112 113 114 115 116
 117 118 119 120 122 123 124 125 126 127 130 131 132 133 134 135 136 137
 138 142 143 144 147 148 149 150 151 152 153 154 156 157 158 159 161 162
 164 165 166 167 168 170 171 174 175 176 177 178 179 181 182 183 184 185
 186 187 188 189 190 191 192 193 195 196 197 198 199 200 201 202 203 204
 205 206 207 208 209 210 211 212 213 214 216 217 218 219 220 221 222 224
 225 226 228 229 230 232 233 235 237 238 239 240 242 243 244 245 247 248
 249 250 251 252 254 255 256 257 258 260 261 262 263 264 265 266 269 270
 272 273 274 275 276 278 282 283 284 287 288 289 290 291 292 293 295 296
 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311]
[  2   9  10  14  15  18  29  31  34  57  59  64  67  69  72  73  81  85
  87  89  91  93  95 101 104 105 108 121 128 129 139 140 141 145 146 155
 160 163 169 172 173 180 194 215 223 227 231 234 236 241 246 253 259 267
 268 271 277 279 280 281 285 286 294]
acc: 100.00%
[  0   2   3   4   5   6   7   8   9  10  11  12  13  14  15  17  18  19
  23  24  26  27  28  29  30  31  32  33  34  36  37  40  41  42  44  45
  46  49  50  51  54  55  56  57  59  60  61  62  63  64  66  67  68  69
  71  72  73  74  75  76  78  79  80  81  82  83  85  86  87  89  90  91
  93  94  95  96  98  99 100 101 104 105 107 108 109 110 111 112 113 114
 117 119 120 121 123 124 125 126 128 129 130 131 133 134 137 138 139 140
 141 142 143 144 145 146 148 149 150 151 153 154 155 156 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 176 178 179 180 181
 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199
 200 201 202 204 205 207 208 210 211 212 213 214 215 218 219 222 223 224
 225 226 227 228 230 231 232 234 235 236 238 241 242 243 244 245 246 247
 249 250 252 253 254 255 256 258 259 260 261 262 263 265 266 267 268 269
 271 273 274 275 276 277 278 279 280 281 282 283 285 286 288 289 290 292
 293 294 296 297 300 301 302 304 305 306 307 308 309 310 311]
[  1  16  20  21  22  25  35  38  39  43  47  48  52  53  58  65  70  77
  84  88  92  97 102 103 106 115 116 118 122 127 132 135 136 147 152 157
 175 177 203 206 209 216 217 220 221 229 233 237 239 240 248 251 257 264
 270 272 284 287 291 295 298 299 303]
acc: 100.00%
[  0   1   2   3   4   6   7   8   9  10  11  13  14  15  16  17  18  19
  20  21  22  23  25  26  28  29  30  31  32  34  35  37  38  39  40  41
  42  43  45  47  48  49  51  52  53  54  57  58  59  62  63  64  65  67
  68  69  70  72  73  74  75  76  77  78  79  80  81  82  83  84  85  87
  88  89  90  91  92  93  94  95  96  97  99 100 101 102 103 104 105 106
 107 108 110 114 115 116 117 118 119 121 122 125 126 127 128 129 130 131
 132 134 135 136 137 139 140 141 142 143 144 145 146 147 149 151 152 153
 155 156 157 158 159 160 162 163 166 168 169 170 172 173 174 175 177 179
 180 182 183 184 185 188 190 192 194 195 196 197 198 199 200 201 202 203
 204 205 206 207 208 209 210 213 214 215 216 217 219 220 221 222 223 226
 227 228 229 230 231 232 233 234 235 236 237 239 240 241 242 243 244 245
 246 247 248 251 252 253 254 255 256 257 258 259 260 262 263 264 265 267
 268 269 270 271 272 273 275 276 277 278 279 280 281 284 285 286 287 288
 289 291 292 294 295 296 297 298 299 300 303 304 305 308 309 310]
[  5  12  24  27  33  36  44  46  50  55  56  60  61  66  71  86  98 109
 111 112 113 120 123 124 133 138 148 150 154 161 164 165 167 171 176 178
 181 186 187 189 191 193 211 212 218 224 225 238 249 250 261 266 274 282
 283 290 293 301 302 306 307 311]
acc: 100.00%
[  1   2   3   4   5   7   9  10  11  12  13  14  15  16  18  20  21  22
  24  25  26  27  29  30  31  32  33  34  35  36  38  39  41  43  44  45
  46  47  48  49  50  51  52  53  55  56  57  58  59  60  61  62  63  64
  65  66  67  69  70  71  72  73  74  75  76  77  79  81  82  84  85  86
  87  88  89  91  92  93  94  95  96  97  98  99 101 102 103 104 105 106
 108 109 110 111 112 113 115 116 117 118 119 120 121 122 123 124 127 128
 129 132 133 134 135 136 138 139 140 141 142 143 144 145 146 147 148 149
 150 152 154 155 157 158 159 160 161 163 164 165 167 169 171 172 173 174
 175 176 177 178 179 180 181 182 183 186 187 188 189 190 191 192 193 194
 196 197 198 200 201 203 204 205 206 209 210 211 212 215 216 217 218 220
 221 222 223 224 225 226 227 229 230 231 233 234 235 236 237 238 239 240
 241 246 247 248 249 250 251 253 254 257 259 261 263 264 266 267 268 269
 270 271 272 273 274 275 277 278 279 280 281 282 283 284 285 286 287 289
 290 291 293 294 295 297 298 299 301 302 303 304 305 306 307 311]
[  0   6   8  17  19  23  28  37  40  42  54  68  78  80  83  90 100 107
 114 125 126 130 131 137 151 153 156 162 166 168 170 184 185 195 199 202
 207 208 213 214 219 228 232 242 243 244 245 252 255 256 258 260 262 265
 276 288 292 296 300 308 309 310]
acc: 100.00%
[  0   1   2   5   6   8   9  10  12  14  15  16  17  18  19  20  21  22
  23  24  25  27  28  29  31  33  34  35  36  37  38  39  40  42  43  44
  46  47  48  50  52  53  54  55  56  57  58  59  60  61  64  65  66  67
  68  69  70  71  72  73  77  78  80  81  83  84  85  86  87  88  89  90
  91  92  93  95  97  98 100 101 102 103 104 105 106 107 108 109 111 112
 113 114 115 116 118 120 121 122 123 124 125 126 127 128 129 130 131 132
 133 135 136 137 138 139 140 141 145 146 147 148 150 151 152 153 154 155
 156 157 160 161 162 163 164 165 166 167 168 169 170 171 172 173 175 176
 177 178 180 181 184 185 186 187 189 191 193 194 195 199 202 203 206 207
 208 209 211 212 213 214 215 216 217 218 219 220 221 223 224 225 227 228
 229 231 232 233 234 236 237 238 239 240 241 242 243 244 245 246 248 249
 250 251 252 253 255 256 257 258 259 260 261 262 264 265 266 267 268 270
 271 272 274 276 277 279 280 281 282 283 284 285 286 287 288 290 291 292
 293 294 295 296 298 299 300 301 302 303 306 307 308 309 310 311]
[  3   4   7  11  13  26  30  32  41  45  49  51  62  63  74  75  76  79
  82  94  96  99 110 117 119 134 142 143 144 149 158 159 174 179 182 183
 188 190 192 196 197 198 200 201 204 205 210 222 226 230 235 247 254 263
 269 273 275 278 289 297 304 305]
acc: 100.00%
100.00% (+/- 0.00%)